<!doctype html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to smol place</title>
        {% endif %}
    </head>
    <body>
      <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul style="color: green">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>

      <header style="margin-bottom: 24px">
          <h1 style="margin-bottom: 0">Shorten URL</h1>
          <div style="color: dimgray">
              https://smol.place/<span style="color: blue">your-alias</span></div>
      </header>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.url.label }}<br>
          {{ form.url(size=100) }}<br>
          {% for error in form.url.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.alias.label }}<br>
          {{ form.alias(size=100) }}<br>
          {% for error in form.alias.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
    </body>
</html>

